*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace;
}

body{
    background-image: url('../assets/images/rain.jpg');
    background-size: cover;
    background-position: center;
}

.weather-app{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
        border: 2px solid red;


}

.sidebar{
    width: 25rem;
    display: flex;
    border-left:  1px solid black;
    flex-direction: column;
    align-items: center;
    background-color: rgba(97, 106, 235, 0.384);
}

.searchbar{
    margin-top: 5rem;
}

#place-search{
    background: transparent;
    border: 1px solid whitesmoke;
    height: 2rem;
    width: 15rem;
    border-radius: 5px;
    color: white;
}

#submitBtn{
    margin-left: 1rem;
    padding: 0.4rem;
    background: linear-gradient(to right, #d9e4e4, #d0eae8e9);
    border: none;

}

.weather-info{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: space-between;
}

.weather-icon{
    width: 7rem;
    height: 7rem;
}


.location-info{
    border: 2px solid rgba(0, 0, 0, 0.241);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(97, 106, 235, 0.384);
    padding: 2rem;
    flex-direction: column;

}

.stats-left{
    display: flex;
    flex-direction: column;
}

.weather-stats{
    border: 2px solid rgba(0, 0, 0, 0.241);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(97, 106, 235, 0.384);
    padding: 2rem;
}

#todays-icon{
    align-self: center;
}

.temp{
    font-size: 3rem;
}


.location-info span, .weather-stats span{
    color: white;
}

.country{
    font-size: 2rem;
}





